name: build and publish docker image

on:
  schedule:
    - cron: '0 4 * * *' # everyday at 4am utc
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: set up qemu
        uses: docker/setup-qemu-action@v1

      - name: set up buildx
        uses: docker/setup-buildx-action@v1
          
      - name: login to docker hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
          
      - name: login to github container registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_REGISTRY_USERNAME }}
          password: ${{ secrets.GH_REGISTRY_TOKEN }}
          
      - name: docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            dotwee/adb-mqtt-bridge
            ghcr.io/dotwee/adb-mqtt-bridge
          flavor: |
            latest=${{ github.event_name == 'push' }}
          tags: |
            type=raw,value=${{ github.sha }}
          labels: |
            maintainer=Lukas Wolfsteiner <lukas@wolfsteiner.media>
            org.opencontainers.image.title=adb-mqtt-bridge
            org.opencontainers.image.source=https://github.com/dotWee/docker-adb-mqtt-bridge

      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: update docker hub repository description
        uses: peter-evans/dockerhub-description@v2
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
          repository: dotwee/matrix-synapse-s3
